<footer id="footer">
    <div class="footer-container">
        <div id="footer-logo">
            <picture>
                <source srcset="/assets/images/buriedgames_logo.webp" type="image/webp">
                <img class="logo" src="/assets/images/buriedgames_logo.png" alt="Buried Games Logo"
                    style="height: 200px;width: 200px; object-fit: contain;">
            </picture>
            <h1>Buried Games Studio</h1>
            <p>&copy; 2025 Buried Games Studio. All rights reserved.</p>
        </div>
        <div class="footer-socialmedia">
            <div class="footer-sitemap">
                <div class="sitemap-column">
                    <h2>Games</h2>
                    <ul>
                        <li><a href="/en/games/power-of-bombs/">Power of Bombs</a></li>
                        <li><a href="/en/games/koutq8/">KoutQ8</a></li>
                    </ul>
                </div>
                <div class="sitemap-column">
                    <h2>Site Map</h2>
                    <ul>
                        <li><a href="/en/services.html">Services</a></li>
                        <li><a href="/en/privacy-policy.html">Privacy Policy</a></li>
                        <li><a href="/en/terms.html">Terms of Use</a></li>
                    </ul>
                </div>
                <div class="sitemap-column">
                    <h2>Additional links</h2>
                    <ul>
                        <li><a href="/en/contactus.html">Contact Us</a></li>
                        <li><a href="/en/faq.html">FAQs</a></li>
                        <li><a href="/ar">العربية</a></li>
                    </ul>
                </div>
            </div>

            {% include footer-socialmedia.html %}

            <div class="contact-actions">
                <p>
                    <img src="https://cdn-icons-png.flaticon.com/512/732/732200.png" alt="Email Icon" loading="lazy">
                    support@buriedgames.com
                </p>
                <p>
                    <a href="https://wa.me/96555528686" target="_blank" style="color: inherit; text-decoration: none;">
                        <img src="https://cdn-icons-png.flaticon.com/512/220/220236.png" alt="WhatsApp Icon"
                            loading="lazy">
                        +965 55528686
                    </a>
                </p>
            </div>

            <div class="contact-icons">
                <p>Game development based in Kuwait 🇰🇼</p>
            </div>
        </div>
    </div>
</footer>