<section id="games">
    <h2 class="games-header">Our Games</h2>
    <div class="games-description">
        Explore our immersive titles, where nostalgia meets innovation.
    </div>
    <div class="games-grid">
        <a href="/en/games/power-of-bombs/index.html" class="game-card-link">
            <div class="game-card">
                <div class="game-img-wrapper">
                    <img src="/assets/images/powerofbombsIconTransparent.png"
                        alt="Power of Bombs – Tactical Strategy Game" loading="lazy">
                    <div class="overlay">
                        <span>Explore Power of Bombs – our strategy game</span>
                    </div>
                </div>
                <h3>Power of Bombs</h3>
            </div>
        </a>

        <a href="/en/games/koutq8/index.html" class="game-card-link">
            <div class="game-card">
                <div class="game-img-wrapper">
                    <img src="/assets/images/Koutq8Logo.png" alt="KoutQ8 – Kuwaiti Card Game" loading="lazy">
                    <div class="overlay">
                        <span>Explore KoutQ8 – our Kuwaiti card game</span>
                    </div>
                </div>
                <h3>KoutQ8</h3>
            </div>
        </a>
    </div>
</section>