<section class="partners-section" id="partners">
    <h2>Our Partners</h2>
    <div class="partners-logos">
        <a href="https://gavan-tech.com/en" target="_blank"><img src="/assets/images/gavan.png" alt="Gavan Tech" /></a>
    </div>
</section>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        gsap.to(".partners-section", {
            backgroundPositionY: "-100px",
            scrollTrigger: {
                trigger: ".partners-section",
                start: "top bottom",
                end: "bottom top",
                scrub: true
            }
        });
    });
</script>