<section id="youtube">
    <h2 class="video-header-text">Vlogs & Behind the Scenes</h2>
    <p>
        See how we make our games — behind-the-scenes footage, feature breakdowns, and studio updates on our official YouTube channel.
    </p>

    <div class="video-grid">
        <a href="https://youtu.be/Rt2zSXYjxg4?si=lxzf_MRTElIBR6LR" target="_blank" class="video-item">
            <img src="/assets/images/thumbnails/thumbnail_1.png" alt="Video Title 1" loading="lazy">
            <!-- <p>Video Title 1</p> -->
        </a>
        <a href="https://youtu.be/ivS3ypjdUtA?si=aiTMqs2BiRgpvrpV" target="_blank" class="video-item">
            <img src="/assets/images/thumbnails/thumbnail_2.png" alt="Video Title 2" loading="lazy">
            <!-- <p>Video Title 2</p> -->
        </a>
        <a href="https://youtu.be/uiBltx7SHdA?si=bt6NdNiDgaZXSMV-" target="_blank" class="video-item">
            <img src="/assets/images/thumbnails/thumbnail_3.png" alt="Video Title 3" loading="lazy">
            <!-- <p>Video Title 3</p> -->
        </a>
        <a href="https://youtu.be/ZcT2WfDRMgQ?si=9usO6mgAfSokjvit" target="_blank" class="video-item">
            <img src="/assets/images/thumbnails/thumbnail_4.png" alt="Video Title 4" loading="lazy">
            <!-- <p>Video Title 4</p> -->
        </a>
        <a href="https://youtu.be/ygPjpaLWyzE?si=m-8xi6m07Px8KuHz" target="_blank" class="video-item">
            <img src="/assets/images/thumbnails/thumbnail_5.png" alt="Video Title 5" loading="lazy">
            <!-- <p>Video Title 5</p> -->
        </a>
        <a href="https://youtu.be/9mlvZXzy9ok?si=WHBUdRqGRbkqMTtF" target="_blank" class="video-item">
            <img src="/assets/images/thumbnails/thumbnail_6.png" alt="Video Title 6" loading="lazy">
            <!-- <p>Video Title 6</p> -->
        </a>
    </div>

    <div class="subscribe-button">
        <a href="https://www.youtube.com/@BuriedGamesStudio?sub_confirmation=1" target="_blank">
            <img src="https://cdn-icons-png.flaticon.com/512/1384/1384060.png" alt="YouTube Icon" loading="lazy">
            Subscribe to our YouTube Channel
        </a>
    </div>
</section>
