<footer id="footer">
    <div class="footer-container">
        <div id="footer-logo">
            <picture>
                <source srcset="/assets/images/buriedgames_logo.webp" type="image/webp">
                <img class="logo" src="/assets/images/buriedgames_logo.png" alt="Buried Games Logo"
                    style="height: 200px;">
            </picture>
            <h1>Buried Games Studio</h1>
            <p>&copy; 2025 Buried Games Studio. جميع الحقوق محفوظة.</p>
        </div>
        <div class="footer-socialmedia">
            <div class="footer-sitemap">
                <div class="sitemap-column">
                    <h2>ألعاب</h2>
                    <ul>
                        <li><a href="/ar/games/power-of-bombs/">Power of Bombs</a></li>
                        <li><a href="/ar/games/koutq8/">KoutQ8</a></li>
                    </ul>
                </div>
                <div class="sitemap-column">
                    <h2>روابط الموقع</h2>
                    <ul>
                        <li><a href="/ar/services.html">الخدمات</a></li>
                        <li><a href="/ar/privacy-policy.html">سياسة الخصوصية</a></li>
                        <li><a href="/ar/terms.html">شروط الاستخدام</a></li>
                    </ul>
                </div>
                <div class="sitemap-column">
                    <h2>روابط مفيدة</h2>
                    <ul>
                        <li><a href="/ar/contactus.html">تواصل معنا</a></li>
                        <li><a href="/ar/faq.html">الأسئلة الشائعة</a></li>
                        <li><a href="/en">English</a></li>
                    </ul>
                </div>
            </div>

            {% include footer-socialmedia.html %}

            <div class="contact-actions">
                <p>
                    <img src="https://cdn-icons-png.flaticon.com/512/732/732200.png" alt="أيقونة البريد الإلكتروني"
                        loading="lazy">
                    support@buriedgames.com
                </p>
                <p>
                    <a href="https://wa.me/96555528686" target="_blank" style="color: inherit; text-decoration: none;">
                        <img src="https://cdn-icons-png.flaticon.com/512/220/220236.png" alt="أيقونة الواتساب"
                            loading="lazy">
                        +965 55528686
                    </a>
                </p>
            </div>

            <div class="contact-icons">
                <p>نحن نعمل في تطوير الألعاب من الكويت 🇰🇼</p>
            </div>
        </div>
    </div>
</footer>