<section id="games">
    <h2 class="games-header">ألعابنا</h2>
    <div class="games-description">
        استكشف ألعابنا الغامرة حيث يلتقي الحنين مع الابتكار.
    </div>
    <div class="games-grid">
        <a href="/ar/games/power-of-bombs/index.html" class="game-card-link">
            <div class="game-card">
                <div class="game-img-wrapper">
                    <picture>
                        <source srcset="/assets/images/powerofbombsIconTransparent.webp" type="image/webp">
                        <img src="/assets/images/powerofbombsIconTransparent.png"
                            alt="Power of Bombs – لعبة استراتيجية تكتيكية" loading="lazy">
                    </picture>
                    <div class="overlay">
                        <span>استكشف Power of Bombs – لعبتنا الاستراتيجية</span>
                    </div>
                </div>
                <h3>Power of Bombs</h3>
            </div>
        </a>

        <a href="/ar/games/koutq8/index.html" class="game-card-link">
            <div class="game-card">
                <div class="game-img-wrapper">
                    <picture>
                        <source srcset="/assets/images/Koutq8Logo.webp" type="image/webp">
                        <img src="/assets/images/Koutq8Logo.png" alt="KoutQ8 – لعبة الكوت الكويتية" loading="lazy">
                    </picture>
                    <div class="overlay">
                        <span>استكشف KoutQ8 – لعبتنا الكويتية للكوت</span>
                    </div>
                </div>
                <h3>KoutQ8</h3>
            </div>
        </a>
    </div>
</section>