<section id="youtube">
    <h2 class="video-header-text">فلوغات وكواليس التطوير</h2>
    <p>
        شاهد كيف نصنع ألعابنا — لقطات من وراء الكواليس، تحليلات للميزات، وتحديثات من داخل الاستوديو على قناة YouTube
        الرسمية.
    </p>

    <div class="video-grid">
        <a href="https://youtu.be/Rt2zSXYjxg4?si=lxzf_MRTElIBR6LR" target="_blank" class="video-item">
            <picture>
                <source srcset="/assets/images/thumbnail_1.webp" type="image/webp">
                <img src="/assets/images/thumbnail_1.png" alt="عنوان الفيديو الأول" loading="lazy">
            </picture>
        </a>
        <a href="https://youtu.be/ivS3ypjdUtA?si=aiTMqs2BiRgpvrpV" target="_blank" class="video-item">
            <picture>
                <source srcset="/assets/images/thumbnail_2.webp" type="image/webp">
                <img src="/assets/images/thumbnail_2.png" alt="عنوان الفيديو الثاني" loading="lazy">
            </picture>
        </a>
        <a href="https://youtu.be/uiBltx7SHdA?si=bt6NdNiDgaZXSMV-" target="_blank" class="video-item">
            <picture>
                <source srcset="/assets/images/thumbnail_3.webp" type="image/webp">
                <img src="/assets/images/thumbnail_3.png" alt="عنوان الفيديو الثالث" loading="lazy">
            </picture>
        </a>
        <a href="https://youtu.be/ZcT2WfDRMgQ?si=9usO6mgAfSokjvit" target="_blank" class="video-item">
            <picture>
                <source srcset="/assets/images/thumbnail_4.webp" type="image/webp">
                <img src="/assets/images/thumbnail_4.png" alt="عنوان الفيديو الرابع" loading="lazy">
            </picture>
        </a>
        <a href="https://youtu.be/ygPjpaLWyzE?si=m-8xi6m07Px8KuHz" target="_blank" class="video-item">
            <picture>
                <source srcset="/assets/images/thumbnail_5.webp" type="image/webp">
                <img src="/assets/images/thumbnail_5.png" alt="عنوان الفيديو الخامس" loading="lazy">
            </picture>
        </a>
        <a href="https://youtu.be/9mlvZXzy9ok?si=WHBUdRqGRbkqMTtF" target="_blank" class="video-item">
            <picture>
                <source srcset="/assets/images/thumbnail_6.webp" type="image/webp">
                <img src="/assets/images/thumbnail_6.png" alt="عنوان الفيديو السادس" loading="lazy">
            </picture>
        </a>
    </div>

    <div class="subscribe-button">
        <a href="https://www.youtube.com/@BuriedGamesStudio?sub_confirmation=1" target="_blank">
            <img src="https://cdn-icons-png.flaticon.com/512/1384/1384060.png" alt="أيقونة يوتيوب" loading="lazy">
            اشترك في قناتنا على YouTube
        </a>
    </div>
</section>